:root{

    --bg:#EEE8DE;
    --highlights:#BBA987;
    --title:#4E4637;

    --grey3:#131313;
    --grey2:#1d1d1d;
    --grey1:#656462;
    --grey:#adadad;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow: hidden; */
    /* text-decoration: none;
    list-style: none;
     */
}
body{
    background: var(--bg);
}

.hero{
    height: 100vh;
    width: 100%;
    /* background-color: #1a1a1a; */
    background-image: url(images/home.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    background-attachment: fixed; /*cause the parallax like effect*/
    
}

.logo{
    width: 90px;
    height: auto;
    cursor: pointer;
    opacity: 5%;
}

#nav1{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    background: transparent;
    z-index: 5;
} 


#nav1 ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 25px;
    z-index: 7;
}



#nav1 ul li a{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: var(--grey);
    font-weight: 500;
    font-size: 15px;
}


#nav1 ul li a:hover{
color: var(--highlights);
    /* background: linear-gradient(180deg, #FF1448 0%, #FF6A69 50%, #FEA994 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent; */
    transition: .3s;
}



/* .main-text p{
    
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #8f8f8f;
} */


.main-text{
    position: absolute;
    top:25%;
    left:8%;
    /* transform: translateY(-50%); */
    line-height: 120px;
}

.main-text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: var(--highlights);
    opacity: 70%;
    color: var(--title);
}


.main-text h1 h{
    font-family: 'Italianno', cursive;
    /* font: weight 400px; ; */
    font-size:4rem ;
    color: var(--highlights);
    
}

.main-text h2{
    font-family: 'Italiana', serif;
    font-style: normal;
    font-weight: 100;
    font-size: 7rem;
    color: var(--bg);
}


/* button group */
.button{
    display: flex;
    gap: 0.5rem;
    /* padding-top:100px; */

}


/* contact btn */
.btn1{
    width: 170px;
    height: 50px;
    margin-top: 40px;
    background-color: var(--highlights);
    padding: 12px 10px;
    border: none;
    color:Black;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    border-radius: 8px;
    cursor: pointer;
    display:block;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
  
}

/* download cv btn */
.btn2{
    width: 170px;
    height: 50px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--highlights);
    border-radius: 8px;
    color: var(--highlights);
    transition: none;
    
}

.btn1 img{
     width: 35px;
     height: 30px;
     display: none;
 }

.btn1:hover img{
    display: block;
 }

.btn1:hover{
     width:180px;
     height: 50px;
     padding: 12px 10px;
     display:flex;
     align-items: center;
     justify-content: space-between;
 }

 .btn2:hover{
    background-color: var(--highlights);
    color:Black;
}

/* 
.scroll_text{
    white-space: nowrap;
    margin:0 2em;
}

.scroll_text div{
   
    position: absolute;
    padding-top:600px;
    padding-left: 12%;
    display: flex;
    gap: 5rem;
} */
 
/* typing text */
/* .scroll_text p{
   
    font-family: 'italiana', serif; */
    /* padding-top: 100px;
    padding-left: 12%; */
    /* font-style: normal;
    font-weight: 100;
    font-size: 6rem;
    margin-bottom: 0;
    color:var(--grey);
} */
/* .scroll{

    animation: scroll 10s infinite linear;
}

@keyframes scroll {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-50%);

    }
} */

 .services{
    height: 100vh;
    width: 100%;
    background-color: var(--grey2);
    position: relative;
 }

 .organize{
    
     padding-left:12%;
     padding-right: 12%;
     padding-top:5%;
    
 }

 .title{
    position:relative;
    text-align: center;
 }

 .title h2{
    font-family: 'Italiana', serif;
    font-style: normal;
    font-weight: 100;
    font-size: 6rem;
    color: var(--highlights);
 }

 .title h4{
     color:var(--highlights);
     font-family: 'Italianno', cursive;
     font-size: 3rem;
     font-weight: 100px;
 }


 .services-content{
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-top: 4rem;
}

 .box{
     padding:45px;
     background: var(--grey3);
     border-top:5px solid transparent;
     border-radius: 0.5rem;
     transition: all 0.40s ease;
     cursor:pointer;
 }


 .box img{
    width: 60px;
    height: auto;
    opacity: 10%;
 }

 .box h3{
    font-family: 'Italiana', serif;
     color:var(--bg) ;
     font-size: 30px;
     /* font-weight: 400; */
     margin: 15px 0;
     transition: all .40s ease;
 }

 .box p{
    font-family: 'Poppins', sans-serif;
     color: var(--grey);
     font-size: 14px;
     line-height: 25px;
 }

 .box:hover{
     transform: scale(1.01) translateY(-5px);
     border-top: 5px solid var(--highlights);
 }


 .box:hover h3{
    color:var(--highlights);
 }


 .portfolio{
     width: 100%;
     height: auto;
     padding-top: 5%;
    /* background-image: url(/images/Portfolio_bg.jpg); */
    background-size: cover;
    background-position: top center;
    position: relative;
    background-attachment: fixed; 

 }
 
 .portfolio h2{
     color: var(--title);
 }
#nav2{
    position: relative;
    width:100%;
    background: transparent;
    border-top: 2px solid var(--grey2);
    border-bottom: 2px solid var(--grey2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px 8px 10px;
    margin: 50px auto 100px auto;
 }
#nav2 label{
      display:block;
      height: 100%;
      width: 100%;
      text-align: center;
      cursor: pointer;
      font-size: 20px;
      font-weight: 100;
      font-family: 'Poppins', sans-serif;
      color: var(--title) ;
      z-index: 1;
      position: relative;
    }

    #nav2 .slider{
    position: absolute;
    height: 100%;
    width: 33.33%;
    background: var(--grey2);
    border-radius: 1px;
    z-index: 0;
    left: 33.33%;
    bottom: 0;
    transition: all 0.3s ease;

}
#nav2 label:hover{
    color: var(--highlights);
}

#design:checked ~ #nav2 .slider{
    left: 0;
}
#project:checked ~ #nav2 .slider{
    left: 33.33%;
}
#artwork:checked ~ #nav2 .slider{
    left: 66.66%;
}

#design:checked ~ #nav2 label.design,
#project:checked ~ #nav2 label.project,
#artwork:checked ~ #nav2 label.artwork{
    color: var(--bg);
    /* font-weight: 500; */
}
input[type="radio"]{
    display: none;
}
.content{
    
    display: none;
}

#design:checked ~ .content_1{
    display: contents;
    padding: 10rem 0;
    /* grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(autofit, minmax(300px,auto));
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10rem;
    margin-top: 5rem; */
}
#project:checked ~ .content_2 {
    display:contents;
    padding: 10rem 0;
    /* grid-template-columns: repeat(auto-fit, minmax(300px,auto)); */
    /* align-items: center;
    justify-content: center; */
    /* text-align: center; */
    /* gap: 4rem; */
  
}

#artwork:checked ~ .content_3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5rem;
    margin-top: 5rem;
}

.pfbox{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 5rem;
}
 .pfbox:nth-child(even) {
     flex-direction: row-reverse;
 }

 .pfbox .layer{
     flex:1;
     height: 400px;
     margin-left: -350px;
     background-color: white;
     /* background: linear-gradient(var(--highlights),var(--highlights)); */
     padding:5rem 5rem;
     /* box-shadow:2px 6px 8px 0px rgba(22, 22, 26, 0.06); */
     z-index: -1;
 }
 .pfbox .pfimg{
     flex:1;

 }

 .pfbox:nth-child(even) .layer{
     margin-left: 0;
     flex: 2;
     

 }
 .pfbox:nth-child(even) .pfimg{
     margin-left: -100px;
     
 }

 .pfimg img{
     height: 400px;
     overflow: hidden;
     border-radius: 5px;
     /* box-shadow:2px 6px 8px 0px rgba(22, 22, 26, 0.18); */
     transition: .5s ease;
 }


.pfimg:hover img{
    transform: scale(1.05);
}


.pfbox .layer h4{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--title);
    
}


.pfbox .layer p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin: .3rem 0 1rem;
    color: var(--title);
}
.pfbox .layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: var(--bg);
    
    
}
.pfbox .layer a i{
    font-size: 2rem;
    color:var(--grey3);
}

.content a{
    text-decoration: none;
} 


@media only screen and (max-width:768px){
    .pfbox{
        flex-direction: column;
    }
    .pfbox .pfimg{
        width: 100%;
        z-index: -1;
    }
    .pfbox .layer{
        width: 90%;
        margin-left: 0;
        margin-top: -150px;
       
    }
    .pfbox:nth-child(even){
        flex-direction: column;
    }
    .pfbox:nth-child(even) .pfimg{
        margin-left: 0;
        
    }
}














/* .pfbox{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 90%;
    height: auto;
    border-radius: 0.1rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 2rem 2rem 1rem var(--title); */
    /* overflow: hidden; */
    /* display: flex;
    box-shadow:2px 6px 8px 0px rgba(22, 22, 26, 0.18);
}
.pfbox img{
    width: 350px;
    transition: .5s ease;
    /* border: 2px solid var(--title); */
/* }
.pfbox:hover img{
    transform: scale(1.1);
}


.layer{ 
    
}  */




/* .pfbox .layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.7), var(--highlights));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
    transform: translateY(100%);
    transition: .5s ease;
    font-family: 'Poppins', sans-serif;
}

.pfbox:hover .layer{
    transform: translateY(0);
}
.pfbox .layer h4{
    font-family: 'Italiana', serif;
    font-weight: 100;
    font-size: 2rem;
    color: white;
    
}

.pfbox .layer p{
    font-size: 0.9rem;
    margin: .3rem 0 1rem;
    color: var(--bg);
}
.pfbox .layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: var(--bg);
    border-radius: 50%;
    
    
}
.pfbox .layer a i{
    font-size: 2rem;
    color:var(--grey3);
}

.content a{
    text-decoration: none;
} */
.pfbox1{
    width: 100%;
    /* height: auto; */
    
    position: relative;
    overflow: hidden;
    display:flex;
}
.pfbox1 img{
    width: 100%;
    transition: .5s ease;
    vertical-align: middle;
    /* border: 0.5rem solid #131313; */
}
.pfbox1:hover img{
    transform: scale(1.1);
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0px 5px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    
    .column {
        flex: 50%;
        max-width: 50%;
        
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .portfolio{
        height: 320vh;
    }
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
.pfbtn1{
    width: 170px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 80px;
    margin-left: 480px;
    padding: 12px 10px;
    background: transparent;
    border: 2px solid var(--grey3);
    color:Black;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    border-radius: 3px;
    cursor: pointer;
    display:block;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
    
}

.pfbtn1 img{
    width: 35px;
    height: 30px;
    display: none;
}

.pfbtn1:hover img{
    display: block;
}

.pfbtn1:hover{
    width:180px;
    height: 50px;
    padding: 12px 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}


/* .p-btns {
    
    justify-content: center;
    gap: 0.5rem;
    
}

.p-btn {
    position: relative;
    width: 170px;
    height: 40px;
    margin-top: 40px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #474747;
    border-radius: 5px;
    text-align: center;  
    padding-top: 8px;
    top:50%;
    transform: translateY(-50%); 
    
}
.p-btn a{
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #6b6b6b;
    font-size: 18px;
    
    letter-spacing: 1px;
    text-decoration: none;
}

.p-btn:hover{
    background:#1b9b55;
    border:none;
    /* /* border: 2px solid #bebebe;  */
    /* color: #000000;
} 

.p-btn:hover a{
    background:#1b9b55;
    border:none;
    /* /* border: 2px solid #bebebe;  */
    /* color: #000000;
} */
/* .content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
} */


.about{
    height: auto;
    width: 85%;
    background: var(--highlights);
    border-radius: 3px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    margin: 3% auto auto;
}


.abt{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    padding: 10% 10% 10% 15%;
}

.abt img{
    height:300px;
}

.abt h2{
    font-family: 'Italiana', serif;
    font-style: normal;
    font-weight: 100;
    font-size: 6rem;
    color: var(--title);
}

.about_text{
    padding-left:10%;
    height: 300px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 100;
    
}


.about_text button{
    width: 170px;
    height: 50px;
    margin-top: 3%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--grey3);
    border-radius: 3px;
    color: var(--title);
    transition: none;
}

.about_text button:hover{
    background-color: var(--grey3);
    color:var(--highlights);
}







.skills{
    position: relative;
    width: 100%;
    height: auto;
    background: var(--grey2);
    text-align: center;
    padding: 3%;
}

.skills h3{
    color: var(--highlights);
    font-family: 'Poppins', sans-serif;
    font-weight:   500;
    font-size: 40px;
    

}
.skillsets{
    height: auto;
    
} 
.skillsets h4{
    text-align: center;
    color: var(--title);
    font-family: 'Poppins', sans-serif;
    font-weight:   350;
    font-size: 22px;
    padding: 3%;

}
.set1{
    height:auto;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    /* background: var(--grey3); */
    padding-left: 15%;
    padding-right: 15%;

}

.set2{
    height:auto;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .1rem;
    /* background: var(--grey3); */
    padding-left: 30%;
    padding-right: 30%;

}
.skillbox{
    /* background: var(--bg); */
    
}

.skillbox img{
    width: 60px;
}

.row{
    width: 100%;
    background: var(--bg);
    padding-left: 10%;
    padding-right: 10%;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    text-align: center;

}

.timeline h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    padding-bottom: 3%;
    color: var(--title);
    
}


.container{
    padding: 10px 50px;
    position: relative;
    width: 100%;
    /* background-color: var(--title); */
    animation: movedown 1s linear forwards;
    opacity: 0;
    text-align: left;
}
@keyframes movedown  {
    0%{
        opacity: .3;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
        
    }
}

.container:nth-last-child(1){
    animation-delay: 2s;
}
.container:nth-last-child(2){
    animation-delay: 1s;
}
.container:nth-last-child(3){
    animation-delay:0s;
}





.text-box{
    padding: 20px 30px;
    background: white;
    /* border: 2px solid var(--highlights); */
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.text-box:hover{
    box-shadow:10px 10px 10px 0px rgba(21, 21, 22, 0.18);
    border-bottom: 10px solid var(--title);
    transition: .2s;
}

.container::after{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px; 
    border-radius: 50%;
    right:calc(100% - 9px);
    top: 30%;
    background-color: var(--title);
    border: 2px solid var(--bg);
   
}

.timeline::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background:white;
    top: 12%;
    left: 0%;
    margin-left: -3px;
    animation: moveline 6s forwards;
}

@keyframes moveline  {
    0%{
        height: 0;
    }
    100%{
        height: 88%;
    }
}
.text-box h3{
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.text-box small{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    margin-bottom: 15px;
}

.text-box p{
    font-family: 'Poppins', sans-serif;
}


.arrow{
    height: 0;
    width: 0;
    position: absolute;
    top:28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--title);
    left: -15px;
    
}

@media screen and (max-width:600px)  {
    .skillsets{
        margin: 50px auto;
    }
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left:31px;
    }
    .container{
        width:100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    
    .text-box small{
        margin-bottom:10px;
    }
    
    
}

.achievements{
    width: 100%;
    height: auto;
    margin-bottom: 4%;
   position: relative;
   text-align: center;
   
}
.achievements h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    padding-top: 3%;
    padding-bottom: 3%;
    color: var(--title);
    
}

.certi{
    /* background: #131313; */
    width: 50%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: 1px solid var(--title);
    border-radius: 10px;
    background: var(--grey2);
}
.certi img{
    width:150px;
    /* border: 2px solid var(--highlights); */
    border-radius: 10px;
}
.doc{
    /* text-align: center; */
    padding-left: 3%;
    color: var(--highlights);
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.doc h2{
    color: var(--bg);
    font-weight: 300;
    font-size: 24px;
}
.doc h4{
    font-size: 18px;
    font-weight: 100;
    padding-bottom: 1%;
}
.doc a{
    text-decoration: none;
    /* font-size: 14px;
    font-weight: 100; */
    color: var(--bg);
    
}

.certi_btn{
    width: 160px;
    height: 24px;
    /* margin-top: 10px; */
    margin-bottom: 2%;
    /* margin-left: 480px; */
    /* padding: 12px 10px; */
    background: transparent;
    border: 2px solid var(--title);
    color:var(--title);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 100;
    border-radius: 5px;
    cursor: pointer;
    display:block;
    justify-content: space-between;

    
}

.certi_btn:hover{
   font-weight: 400;
    background: var(--title);
    color: var(--highlights);
}