:root{

    --bg:#EEE8DE;
    --highlights:#BBA987;
    --title:#4E4637;

    --grey3:#131313;
    --grey2:#1d1d1d;
    --grey1:#656462;
    --grey:#adadad;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow: hidden; */
    /* text-decoration: none;
    list-style: none;
     */
}
body{
    background: var(--bg);
}

.hero{
    height: 95vh;
    width: 100%;
    /* background-color: #1a1a1a; */
    background-image: url(images/home.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    background-attachment: fixed; /*cause the parallax like effect*/
    
}

.logo{
    width: 80px;
    height: 70px;
    cursor: pointer;
    opacity: 100%;
}

#nav1{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
    padding-top: 1px;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    background: transparent;
    /* backdrop-filter: saturate(100%) blur(4px); */
    z-index: 5;
} 


#nav1 ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 25px;
    z-index: 7;
}



#nav1 ul li a{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: var(--grey);
    font-weight: 500;
    font-size: 14px;
}


#nav1 ul li a:hover{
color: var(--highlights);
    /* background: linear-gradient(180deg, #FF1448 0%, #FF6A69 50%, #FEA994 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent; */
    transition: .3s;
}

#hamburger-nav {
    display: none;
    align-items: center;
    width:100%;
    justify-content: space-between;
    padding-top: 1px;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    background: transparent;
    /* backdrop-filter: saturate(100%) blur(4px); */
    z-index: 5;
    
}
.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2.5px;
    background-color: var(--grey);
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 5px;
    /* background: transparent; */
    background-color: var(--grey2);
    width: 200px;
    height: 240px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a { 
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;

    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
}

.menu-links li {
    list-style: none;
}
.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px,5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity:0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}


/* .main-text p{
    
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #8f8f8f;
} */
.overlay {
    width: 100%;
    height: 100vh;
    background-color: var(--grey3);
    opacity: 50%;
}

.main-text{
    position: absolute;
    top:25%;
    width: 100%;
    /* transform: translateY(-50%); */
    /* line-height: 80px; */

}
.main-text h1{
    font-family: 'Poppins', sans-serif;
    padding-left: 13%;
    font-size: 2rem;
    font-weight: 400;
    color: var(--highlights);
    opacity: 75%;
    color: var(--title);
}


.main-text h1 h{
    /* font-family: 'Italiana', serif; */
    font-family: 'Italianno', cursive;
    /* font-family: 'Playfair Display', serif; */
    /* font-style: italic; */
    /* padding-left: 3%; */
    /* font: weight 400px; ; */
    text-align: center;
    font-size: 4.5rem ;
    color: var(--highlights);
    
}

.main-text h3{
    /* font-family: 'Italiana', serif; */
    padding-left: 13%;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 6rem;
    color: var(--bg);
}

.main-text a{
    text-decoration: none;
}
/* button group */
.main-text .button{
    padding-left: 13%;
    display: flex;
    gap: 0.5rem;
    /* padding-top:100px; */
   
}


/* contact btn */
.main-text .button .btn1{
    width: 170px;
    height: 50px;
    margin-top: 40px;
    /* background-color: var(--title); */
    padding: 10px 10px;
    border: none;
    color: var(--highlights);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    border-radius: 8px;
    cursor: pointer;
    display:block;
    align-items: center;
    justify-content: space-between;
    /* transition: 0.4s; */
    background: transparent;
    border: 2px solid var(--title);
  
}

/* download cv btn */
.main-text .button .btn2{
    width: 170px;
    height: 50px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--title);
    border-radius: 8px;
    color: var(--highlights);
    transition: none;
    
}

.main-text .button .btn1 img{
     width: 35px;
     height: 30px;
     display: none;
 }

 .main-text .button .btn1:hover img{
    display: block;

}

.main-text .button .btn1:hover{
    width:180px;
    height: 50px;
    padding: 12px 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--highlights);
    color:Black;
 }

 .main-text .button .btn2:hover{
    background-color: var(--highlights);
    color:Black;
}

.gotop{
    position: fixed;
    width: 50px;
    height: 60px;
    background: var(--grey2);
    bottom: 40px;
    right: 5%;
    border-radius: 20px;

    text-decoration: none;
    text-align: center;
    line-height: 60px;
    color: var(--grey1);
    font-size: 32px;
    
}
 .scroll{
    height: 5vh;
    width: 100%;
    /* background-color: var(--grey3); */
    background-image: url(images/home.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
    border-top:1px solid var(--grey1);
    border-bottom:1px solid var(--grey1);
 }

.text_wrapper{
    position: absolute;
    padding-top:6px;
    display: flex;
    justify-content: flex-start;
    background: transparent;
   
}
.text_wrapper p{
    color: var(--grey1);
    white-space: nowrap;
    font-size: 22px;
    font-weight: 100;
    padding: 0 1rem;
    letter-spacing: 1px;
    animation: move-rtl 6000ms linear infinite;
}

.text_wrapper p img{
    width: 20px;
}

@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* 
.scroll_text{
    white-space: nowrap;
    margin:0 2em;
}

.scroll_text div{
   
    position: absolute;
    padding-top:600px;
    padding-left: 12%;
    display: flex;
    gap: 5rem;
} */
 
/* typing text */
/* .scroll_text p{
   
    font-family: 'italiana', serif; */
    /* padding-top: 100px;
    padding-left: 12%; */
    /* font-style: normal;
    font-weight: 100;
    font-size: 6rem;
    margin-bottom: 0;
    color:var(--grey);
} */
/* .scroll{

    animation: scroll 10s infinite linear;
}

@keyframes scroll {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-50%);

    }
} */

 .services{
    height: auto;
    width: 100%;
    background-color: var(--grey3);
    position: relative;
    
}

.organize{
    
     padding-left:15%;
     padding-right: 15%;
     padding-top: 8%;
    
 }

 .title{
    position:relative;
    text-align: center;
 }

 .title h2{
    /* font-family: 'Italiana', serif; */
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 100;
    font-size: 5rem;
    color: var(--highlights);
 }

 .title h4{
     color:var(--highlights);
     font-family: 'Italianno', cursive;
     font-size: 3rem;
     font-weight: 100px;
 }


 .services-content{
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    align-items: center;
    text-align: center;
    gap:2rem;
    margin-top: 3rem;
    padding-bottom: 90px;
}

 .box{
     padding:30px;
     background: var(--grey2);
     border-top: 5px solid transparent;
     border-radius: 0.5rem;
     transition: all 0.40s ease;
     cursor:pointer;
    
 }


 .box img{
     display: none;
    width: 60px;
    height: auto;
    opacity: 10%;
 }

 .box h3{
    /* font-family: 'Italiana', serif; */
    font-family: 'Playfair Display', serif;
     color:var(--title) ;
     font-weight: 100;
     font-size: 2rem;
     /* font-weight: 400; */
     margin: 10px 0 15px;
     transition: all .40s ease;
 }

 .box p{
    font-family: 'Poppins', sans-serif;
     color: var(--grey1);
     font-size: 13px;
     line-height: 20px;
 }

 .box:hover{
     transform: scale(1.01) translateY(-5px);
     border-top: 5px solid var(--highlights);
 }


 .box:hover h3{
    color:var(--highlights);
 }
 .box:hover p{
    color:var(--grey);
 }


 .portfolio{
     width: 100%;
     height: auto;
     padding-top: 5%;
    /* background-image: url(/images/Portfolio_bg.jpg); */
    /* background: white; */
    /* background-size: cover;
    background-position: top center; */
    position: relative;
    /* background-attachment: fixed;  */
   
 }
 
 .portfolio h2{
     color: var(--title);
 }
#nav2{
    position: relative;
    /* width:540px; */
    width:40%;
    /* width: 33.75rem; */
    background: transparent;
    border: 2px solid var(--grey2);
    border-radius: 0.3rem;
    /* border-bottom: 2px solid var(--grey2); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px 8px 10px;
    margin: 5rem auto 6rem auto;
 }
#nav2 label{
      display:block;
      height: 100%;
      width: 100%;
      text-align: center;
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
      color: var(--title) ;
      z-index: 1;
      position: relative;
    }

    #nav2 .slider{
    position: absolute;
    height: 100%;
    width: 33.33%;
    background: var(--grey2);
    border-radius: 2px;
    z-index: 0;
    left: 33.33%;
    bottom: 0;
    transition: all 0.3s ease;

}
#nav2 label:hover{
    color: var(--highlights);
}

#design:checked ~ #nav2 .slider{
    left: 0;
}
#project:checked ~ #nav2 .slider{
    left: 33.33%;
}
#artwork:checked ~ #nav2 .slider{
    left: 66.66%;
}

#design:checked ~ #nav2 label.design,
#project:checked ~ #nav2 label.project,
#artwork:checked ~ #nav2 label.artwork{
    color: var(--bg);
    /* font-weight: 500; */
}
input[type="radio"]{
    display: none;
}
.content{
    
    display: none;
}

#design:checked ~ .content_1{
    display: contents;
    padding: 10rem 0;
    /* grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(autofit, minmax(300px,auto));
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10rem;
    margin-top: 5rem; */
}
#project:checked ~ .content_2 {
    display:contents;
    padding: 10rem 0;
    /* grid-template-columns: repeat(auto-fit, minmax(300px,auto)); */
    /* align-items: center;
    justify-content: center; */
    /* text-align: center; */
    /* gap: 4rem; */
  
}

#artwork:checked ~ .content_3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5rem;
    margin-top: 5rem;
}

.pfbox{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 6rem;
}


 .pfbox:nth-child(even) {
     flex-direction: row-reverse;
 }

 .pfbox .layer{
    
     height: 500px;
     width: 650px;
     /* margin-left: 0px; */
     background-color: #fcf8f3;
     /* background: linear-gradient(var(--highlights),var(--bg)); */
     padding:4rem 4rem;
     /* box-shadow:2px 6px 8px 0px rgba(22, 22, 26, 0.06); */
     /* z-index: -1; */
 }
 
 .pfbox:nth-child(even) .layer{
     margin-left: 0;
     height: 500px;
     width: 650px;
     
     
    }
    .pfbox:nth-child(even) .pfimg{
        margin-left: 0px;
        
    }
    
    .pfimg{
        /* flex:1; */
        position: relative;
        overflow: hidden;
        display: flex;
        border-radius: 5px;
    
   
    }
    .pfimg img{
    /* flex: 1; */
    height: 500px;
     width: 500px;
     /* overflow: hidden; */
     /* box-shadow:2px 6px 8px 0px rgba(22, 22, 26, 0.18); */
     transition: .5s ease;
 }


.pfimg:hover img{
    transform: scale(1.15);
}

.pfimg .cover{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.7), var(--highlights));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.pfimg:hover .cover{
    transform: translateY(0);
}
.pfimg .cover a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: var(--bg);
    
    
}
.pfimg .cover a i{
    font-size: 2rem;
    color:var(--grey3);
}


.pfbox .layer h4{
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    font-size: 3.5rem;
    color: var(--title);
    
}


.pfbox .layer p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin: 1.5rem 0 2rem;
    color: var(--grey);
}

.content a{
    text-decoration: none;
} 

















/* .pfbox{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 90%;
    height: auto;
    border-radius: 0.1rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 2rem 2rem 1rem var(--title); */
    /* overflow: hidden; */
    /* display: flex;
    box-shadow:2px 6px 8px 0px rgba(22, 22, 26, 0.18);
}
.pfbox img{
    width: 350px;
    transition: .5s ease;
    /* border: 2px solid var(--title); */
/* }
.pfbox:hover img{
    transform: scale(1.1);
}


.layer{ 
    
}  */




/* .pfbox .layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.7), var(--highlights));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
    transform: translateY(100%);
    transition: .5s ease;
    font-family: 'Poppins', sans-serif;
}

.pfbox:hover .layer{
    transform: translateY(0);
}
.pfbox .layer h4{
    font-family: 'Italiana', serif;
    font-weight: 100;
    font-size: 2rem;
    color: white;
    
}

.pfbox .layer p{
    font-size: 0.9rem;
    margin: .3rem 0 1rem;
    color: var(--bg);
}
.pfbox .layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: var(--bg);
    border-radius: 50%;
    
    
}
.pfbox .layer a i{
    font-size: 2rem;
    color:var(--grey3);
}

.content a{
    text-decoration: none;
} */
.pfbox1{
    width: 100%;
    /* height: auto; */
    
    position: relative;
    overflow: hidden;
    display:flex;
}
.pfbox1 img{
    width: 100%;
    transition: .5s ease;
    vertical-align: middle;
    /* border: 0.5rem solid #131313; */
}
.pfbox1:hover img{
    transform: scale(1.1);
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0px 5px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    
    .column {
        flex: 50%;
        max-width: 50%;
        
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .portfolio{
        height: auto;
    }
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
.pfbtn1{
    width: 170px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 80px;
    margin-left: 480px;
    padding: 12px 10px;
    background: transparent;
    border: 2px solid var(--grey3);
    color:Black;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    border-radius: 3px;
    cursor: pointer;
    display:block;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
    
}

.pfbtn1 img{
    width: 35px;
    height: 30px;
    display: none;
}

.pfbtn1:hover img{
    display: block;
}

.pfbtn1:hover{
    width:180px;
    height: 50px;
    padding: 12px 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}


/* .p-btns {
    
    justify-content: center;
    gap: 0.5rem;
    
}

.p-btn {
    position: relative;
    width: 170px;
    height: 40px;
    margin-top: 40px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #474747;
    border-radius: 5px;
    text-align: center;  
    padding-top: 8px;
    top:50%;
    transform: translateY(-50%); 
    
}
.p-btn a{
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #6b6b6b;
    font-size: 18px;
    
    letter-spacing: 1px;
    text-decoration: none;
}

.p-btn:hover{
    background:#1b9b55;
    border:none;
    /* /* border: 2px solid #bebebe;  */
    /* color: #000000;
} 

.p-btn:hover a{
    background:#1b9b55;
    border:none;
    /* /* border: 2px solid #bebebe;  */
    /* color: #000000;
} */
/* .content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
} */


.about{
    position: relative;
    height: auto;
    width: 100%;
    /* background: var(--highlights);
    border-radius: 3px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2); */
    margin-top: 10%;
   background-image: linear-gradient(to top left, var(--highlights) ,var(--bg) ,transparent);
   
}
.abt{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    padding: 10% 8% 10% 10%;
}
.abt .images{
    display: flex;
}

.abt img{
    position: relative;
    width:300px;
    border-radius: 5px;
    /* border: 8px solid var(--grey3);
    border-bottom: 50px solid var(--grey3);  */
    
}
.abt .images .star1{
    position: relative;
    top: 330px;
    left: 5px;
    width: 30px;
    height: 50px;
   
}
.abt .images .star2{
    position: relative;
    top: 350px;
    left: -60px;
    width: 15px;
    height: 20px;
   
}
.abt .images .star5{
    position: relative;
    top: 80px;
    left: -30px;
    width: 15px;
    height: 18px;
   
}
.abt .images .star4{
    position: relative;
    top: -30px;
    left: 5px;
    width: 30px;
    height: 40px;
   
}
.abt .images .star3{
    position: relative;
    top: 0px;
    left: 12px;
    width: 14px;
    height: 18px;
   
}
.abt .images i{
    position: relative;
    top: 315px;
    left: -18px;
    width: 30px;
    height: 40px;
}

.abt h2{
    /* font-family: 'Italiana', serif; */
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 100;
    font-size: 6rem;
    color: var(--title);
}
.abt h4{
    font-family: 'Playfair Display', serif;
    color: var(--highlights);
    font-size:18px;
    padding-bottom: 14px;
}

.about_text{
    padding-top: 22%;
    padding-left: 8%;
    padding-right: 10%;
    height: auto;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: var(--grey1);
    font-size: 15px;
    font-weight: 400;
    
}


.about_text button{
    width: 170px;
    height: 50px;
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--grey3);
    border-radius: 3px;
    color: var(--title);
    transition: none;
    
}

.about_text button:hover{
    background-color: var(--grey3);
    color:var(--bg);
}







.skills{
    position: relative;
    width: 100%;
    height: auto;
    background: var(--grey2);
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 8%;
}

.skills h3{
    color: var(--highlights);
    font-family: 'Poppins', sans-serif;
    font-weight:   500;
    font-size: 40px;
    

}
.skillsets{
    height: auto;
    
} 
.skillsets h4{
    text-align: center;
    color: var(--title);
    font-family: 'Poppins', sans-serif;
    font-weight:   350;
    font-size: 22px;
    padding-top: 30px;
    padding-bottom: 30px;

}
.set1{
    /* height:auto; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    /* grid-template-columns: repeat(7, 1fr); */
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    /* background: var(--grey3); */
    padding-left: 10%;
    padding-right: 10%;
    
}

.set2{
    /* height:auto; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    /* grid-template-columns: repeat(3, 1fr); */
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    /* background: var(--grey3); */
    padding-left: 10%;
    padding-right: 10%;

}
/* .skillbox{
    background: var(--bg);
    
} */

.skillbox img{
    width: 60px;
}

.row{
    position: relative;
    width: 100%;
    background: var(--bg);
    padding-left: 10%;
    padding-right: 10%;
    /* background-image: linear-gradient(150deg,var(--highlights), var(--bg),var(--bg)); */
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    text-align: center;

}

.timeline h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    padding-bottom: 3%;
    color: var(--title);
    
}


.container{
    padding: 10px 50px;
    position: relative;
    width: 100%;
    /* background-color: var(--title); */
    animation: movedown 1s linear forwards;
    opacity: 0;
    text-align: left;
}
@keyframes movedown  {
    0%{
        opacity: .3;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
        
    }
}

.container:nth-last-child(1){
    animation-delay: 2s;
}
.container:nth-last-child(2){
    animation-delay: 1s;
}
.container:nth-last-child(3){
    animation-delay:0s;
}





.text-box{
    padding: 20px 30px;
    background: white;
    /* border: 2px solid var(--highlights); */
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.text-box:hover{
    box-shadow:10px 10px 10px 0px rgba(21, 21, 22, 0.18);
    border-bottom: 10px solid var(--title);
    transition: .2s;
}

.container::after{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px; 
    border-radius: 50%;
    right:calc(100% - 9px);
    top: 30%;
    background-color: var(--title);
    border: 2px solid var(--bg);
   
}

.timeline::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background:white;
    top: 12%;
    left: 0%;
    margin-left: -3px;
    animation: moveline 6s forwards;
}

@keyframes moveline  {
    0%{
        height: 0;
    }
    100%{
        height: 88%;
    }
}
.text-box h3{
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.text-box small{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    margin-bottom: 15px;
}

.text-box p{
    font-family: 'Poppins', sans-serif;
}


.arrow{
    height: 0;
    width: 0;
    position: absolute;
    top:28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--title);
    left: -15px;
    
}


.achievements{
    width: 100%;
    height: auto;
    margin-bottom: 4%;
   position: relative;
   text-align: center;
  
}
.achievements h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    padding-top: 3%;
    padding-bottom: 3%;
    color: var(--title);
    
}

.certi{
    /* background: #131313; */
    width: 50%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: 1px solid var(--title);
    border-radius: 10px;
    background: var(--grey2);
}
.certi img{
    width:150px;
    height: auto;
    /* border: 2px solid var(--highlights); */
    border-radius: 10px;
}
.doc{
    /* text-align: center; */
    padding-left: 3%;
    color: var(--highlights);
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.doc h2{
    color: var(--bg);
    font-weight: 300;
    font-size: 20px;
}
.doc h4{
    font-size: 18px;
    font-weight: 100;
    padding-bottom: 1%;
}
.doc a{
    text-decoration: none;
    /* font-size: 14px;
    font-weight: 100; */
    color: var(--bg);
    
}

.certi_btn{
    width: 160px;
    height: 24px;
    /* margin-top: 10px; */
    margin-bottom: 2%;
    /* margin-left: 480px; */
    /* padding: 12px 10px; */
    background: transparent;
    border: 2px solid var(--title);
    color:var(--title);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 100;
    border-radius: 5px;
    cursor: pointer;
    display:block;
    justify-content: space-between;
    
    
}

.certi_btn:hover{
    font-weight: 400;
    background: var(--title);
    color: var(--highlights);
}


.contact{
    display: grid;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 90px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-top: 130px;
    background-color: var(--grey2);
}

.contact-text h2{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    padding-bottom: 30px;
    font-weight: 100;
    font-size: 5rem;
    /* text-align: center; */
    color: var(--highlights);
}
.contact-text h2 span{
    color: var(--highlights);
}

.contact-text h4{
    margin: 15px 0;
    color: var(--title);
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: 600;
}

.contact-text p{
    color: var(--grey1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 2rem;
}

.contact-list{
    margin-bottom: 3rem;
    
}

.contact-list li{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 7px;
    display: block;
    font-size: 16px;
    color: var(--grey1);
    font-weight: 100;
}


.contact-list i{

    display: inline-block;
    margin-bottom: 7px;
    /* display: block; */
    font-size: 30px;
    /* color: var(--highlights);
    font-weight: 100; */
    transition: all .40s ease;
}

.contact-list li a:hover{
    transform: scale(1.01)translateY(-5px);

}

.contact-icon i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--highlights);
    border-radius: 50%;
    font-size: 20px;
    color:var(--highlights);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    /* opacity: 0; */
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

}
.contact-icon i:hover{
    background: var(--highlights);
    color: #000;
    box-shadow: 0 0 20px var(--highlights);
}

.contact-form form{
    position: relative;
}

.contact-form form input,form textarea{
    border:none;
    outline: none;
    width:90%;
    padding: 18px;
    background-color: var(--grey3);
    color: var(--bg);
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    font-family: 'Poppins', sans-serif;
   
}

.contact-form textarea{
    resize: none;
    height: 220px;

}

.contact-form form .send{
    display: inline-block;
    margin-top: 5px;
    padding: 14px 60px;
    background: var(--highlights);
    border-radius: 10px;
    font-size: 18px;
    color:var(--grey2);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    /* opacity: 0; */
    /* transition: .5s ease; */
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    /* box-shadow: 0 0 5px var(--highlights), 0 0 5px var(--highlights); */

}
.contact-form form .send:hover{
    color:var(--grey3);
    background: var(--highlights);
    box-shadow: 0 0 5px var(--highlights),
    0 0 5px var(--highlights), 0 0 5px var(--highlights),
    0 0 5px var(--highlights),0 0 15px var(--highlights);
}

.success {
    padding-top: 10px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    text-align: center;
    display: none;
}
.danger {
    padding-top: 10px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    color: rgb(219, 2, 2);
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    text-align: center;
    display: none;
}

@keyframes buttons {
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
    
}

.end{
    height: 20vh;
    background: var(--grey3);
   
}

.end p{
    padding-top: 80px;
    text-align: center;
    color: var(--grey1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    opacity: 40%;
}
.end i{
    font-size: 18px;
    align-items: center;
}
@media screen and (max-width: 420px) {
    .main-text{
        bottom: 20%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        text-align: center;
      
    }
    .main-text h1{
        padding-left: 0;
    }
    .main-text h1 h{
        padding-left: 0;
    }
    .main-text h3{
        font-size: 2rem;
        padding-left: 0;
    }

    
    .main-text .button {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .main-text .button .btn2 {
        margin-top: 10px;
    }

    #nav2 {
        width: 80%;
    }

    #nav2 label{
        font-size: 14px;
    }
   

    .pfbox 
    {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    

    .pfbox:nth-child(even){
        flex-direction: column;
    }
    .pfbox .pfimg{
        margin-left: 0;

    }
    

    .pfbox .pfimg img{
        width: 300px;
        height: 300px;
    }
    .pfbox:nth-child(even) .pfimg{
        margin-left: 0;
        
    }
   
    .pfbox:nth-child(even) .pfimg img{
        width: 300px;
        height: 300px;
    }

    .pfbox .layer{
        width: 90%;
        height: auto;
        margin-left: 0;
        margin-top: -80px;
        padding: 2rem;
        z-index: 0;
    }
    

    .pfbox:nth-child(even) .layer{
        width: 90%;
        height: auto;
        margin-left: 0;
        margin-top: -80px;
        z-index: 0;
        
    }

    .pfbox .layer h4{
        font-size:2.5rem;
    }
    
    .pfbox .layer p{
        font-size:0.8rem;
    }
    .abt img {
        width: 200px;
    }

    .abt .images .star1 {
        top: 210px;
    }
    .abt .images i {
        top: 195px;
    }
    .abt h2 {
        font-size: 4rem;
        line-height: 80px;
        padding-bottom: 20px;
    
    }
    
    .achievements h2 {
        font-size: 26px;
        padding-left: 0px;
        padding-right: 10px;
    }
   
    .doc h2{
        font-size: 16px;
    }
    .doc h4{
        font-size: 12px;
    }
    .certi_btn {
        width: 130px;
        font-size: 12px;
    }

    .skillbox img {
        width: 48px;
    }
}

@media screen and (max-width: 640px)  {
    
    .skillsets{
        margin-bottom: 50px;
    }
    .timeline{
        width: 100%;
        margin: 50px auto;
    }
    .timeline::after{
        left:31px;
    }
    .container{
        width:100%;
        /* padding-left: 80px; */
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    
    .text-box small{
        margin-bottom:10px;
    }
    .contact, .services-content{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .box{
        width: 300px;
    }

    .certi {
       width: 90%;
    }

    /* .doc h2{
        font-size: 24px;
    } */

    
  

    
}

@media screen and (min-width: 421px) and (max-width: 1200px) {
    .main-text h1{
        font-size: 1.5rem;
    }
    .main-text h1 h{
        font-size: 3.4rem;
    }
    .main-text h3{
        font-size: 4.5rem;
    } 

    #nav2 {
        width: 57%;
    }
    #nav2 label{
        font-size: 14px;
    }

    .pfbox 
    {
        flex-direction: column;
    }

    .pfbox:nth-child(even){
        flex-direction: column;
    }
    .pfbox .pfimg{
        /* width: 60%; */
        margin-left: 0;
   
    }


    .pfbox .layer{
        width: 90%;
        margin-left: 0;
        margin-top: -150px;
        z-index: 0;
    }

    .pfbox:nth-child(even) .pfimg{
        margin-left: 0;
        
    }
   
    .pfbox:nth-child(even) .layer{
        width: 90%;
        margin-left: 0;
        margin-top: -150px;
        z-index: 0;
    }
    .abt h2 {
        line-height: 90px;
        padding-bottom: 20px;
    }

    
}

@media screen and (max-width: 1200px) {
    #nav1 {
        display: none;
    }

    #hamburger-nav {
        display: flex;
       
    }
    .abt{
        display: flex;
        flex-direction: column;

    }
    .about_text{
        padding-top: 10%;
        padding-left: 0;
    }

    
   
} 


   
