*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow: hidden; */
    /* text-decoration: none;
    list-style: none;
     */
}
body{
    background: #0a0a0a;
}

.hero{
    height: 100vh;
    width: 100%;
    /* background-color: #1a1a1a; */
    background-image: url(images/home.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    background-attachment: fixed; /*cause the parallax like effect*/
}

.logo{
    width: 90px;
    height: auto;
    cursor: pointer;
}

#nav1{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    background: transparent;
    z-index: 5;
} 


#nav1 ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 25px;
    z-index: 7;
}



#nav1 ul li a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #ADADAD;
    font-weight: 600;
    font-size: 15px;
}


#nav1 ul li a:hover{
color: #15b85e;
    /* background: linear-gradient(180deg, #FF1448 0%, #FF6A69 50%, #FEA994 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent; */
    transition: .3s;
}

.main-text{
    position: absolute;
    top:30%;
    left:12%;
    /* transform: translateY(-50%); */
    line-height: 90px;
}


.main-text h1{
    font-family: 'Roboto', sans-serif;
    font: weight 600px; ;
    font-size:32px ;
    color: #A3A3A3;
}

.main-text h1 h{
   color: #15b85e;
    /* background: linear-gradient(180deg, #FF1448 0%, #FF6A69 50%, #FEA994 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent; */
}
 
/* typing text */
.main-text h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    color: #e0dcdc;
}


/* .main-text p{
    
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #8f8f8f;
} */

/* button group */
.button{
    display: flex;
    gap: 0.5rem;
}


/* contact btn */
.btn1{
    width: 170px;
    height: 50px;
    margin-top: 40px;
    background-color: #15b85e;
    padding: 12px 10px;
    border: none;
    color:Black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 8px;
    cursor: pointer;
    display:block;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
  
}

/* download cv btn */
.btn2{
    width: 170px;
    height: 50px;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #15b85e;
    border-radius: 8px;
    color: #15b85e;
    transition: none;
    
}

.btn1 img{
     width: 35px;
     height: 30px;
     display: none;
 }

.btn1:hover img{
    display: block;
 }

.btn1:hover{
     width:180px;
     height: 50px;
     padding: 12px 10px;
     display:flex;
     align-items: center;
     justify-content: space-between;
 }

 .btn2:hover{
    background-color: #15b85e;
    color:Black;
}

 .services{
    height: 100vh;
    width: 100%;
    background-color: #0f0f0f;
    position: relative;
 }

 .organize{

     padding-left:10%;
     padding-right: 10%;
     padding-top:8%;
 }

 .title{
    position:relative;
    text-align: center;
 }

 .title h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #e0dcdc;
 }

 .title h4{
     color:#1b9b55;
     font-family: 'Montserrat', sans-serif;
     font-size: 24px;
     font-weight: 300px;
 }


 .services-content{
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}

 .box{
     padding:45px;
     background: #1b1b1b;
     border-top:5px solid transparent;
     border-radius: 0.5rem;
     transition: all 0.40s ease;
     cursor:pointer;
 }


 .box img{
    width: 60px;
    height: auto;
 }

 .box h3{
     font-family: 'Montserrat', sans-serif;
     color:#e0dcdc ;
     font-size: 24px;
     font-weight: 600;
     margin: 15px 0;
     transition: all .40s ease;
 }

 .box p{
    font-family: 'Roboto', sans-serif;
     color: #ADADAD;
     font-size: 14px;
     line-height: 25px;
 }

 .box:hover{
     transform: scale(1.01) translateY(-5px);
     border-top: 5px solid #15b85e;
 }


 .box:hover h3{
    color:#15b85e;
 }


 .portfolio{
    height: 100vh;
    width: 100%;
    background-image: url(images/Portfolio_bg.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    background-attachment: fixed; 
 }
 
 
#nav2{
    position: relative;
    max-width: 480px;
    width:100%;
    background: transparent;
    border: 2px solid #1c7745;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin: 50px auto;
 }
#nav2 label{
      display:block;
      height: 100%;
      width: 100%;
      text-align: center;
      cursor: pointer;
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      color: rgba(255, 255, 255, 0.367) ;
      z-index: 1;
      position: relative;
    }

    #nav2 .slider{
    position: absolute;
    height: 100%;
    width: 33.33%;
    background: #1c7745;
    border-radius: 5px;
    z-index: 0;
    left: 33.33%;
    bottom: 0;
    transition: all 0.3s ease;

}
#nav2 label:hover{
    color: #4b4a4a;
}

#design:checked ~ #nav2 .slider{
    left: 0;
}
#project:checked ~ #nav2 .slider{
    left: 33.33%;
}
#artwork:checked ~ #nav2 .slider{
    left: 66.66%;
}

#design:checked ~ #nav2 label.design,
#project:checked ~ #nav2 label.project,
#artwork:checked ~ #nav2 label.artwork{
    color: rgb(0, 0, 0);
    font-weight: 500;
}
input[type="radio"]{
    display: none;
}
.content{
    display: none;
}

#design:checked ~ .content_1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}
#project:checked ~ .content_2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5rem;
    margin-top: 5rem;
}
 .pfbox{
    width: 100%;
    /* height: auto; */
    border-radius: 1rem;
    box-shadow: 0 0 5rem #000000;
    position: relative;
    overflow: hidden;
    display: flex;
}
.pfbox img{
width: 100%;
transition: .5s ease;
}
.pfbox:hover img{
   transform: scale(1.1);
}
.pfbox .layer{
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: linear-gradient(rgba(0,0,0,.8), #15b85e);
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 text-align: center;
 padding: 0 2rem;
 transform: translateY(100%);
 transition: .5s ease;
 font-family: 'Roboto', sans-serif;
}

.pfbox:hover .layer{
    transform: translateY(0);
}
.pfbox .layer h4{
    font-size: 2rem;
    color: #f1f5f4;
    
}

.pfbox .layer p{
    font-size: 1rem;
    margin: .3rem 0 1rem;
    color: #dad8d8;
}
.pfbox .layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: #f5f1f1;
    border-radius: 50%;
    text-decoration: none;
    
}
.pfbox .layer a i{
    font-size: 2rem;
    color:#0a0a0a;
}
#artwork:checked ~ .content_3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}
 /* .p-btns {
    
    justify-content: center;
    gap: 0.5rem;
    
}

.p-btn {
    position: relative;
    width: 170px;
    height: 40px;
    margin-top: 40px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #474747;
    border-radius: 5px;
    text-align: center;  
    padding-top: 8px;
    top:50%;
    transform: translateY(-50%); 

}
.p-btn a{
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #6b6b6b;
    font-size: 18px;
    
    letter-spacing: 1px;
    text-decoration: none;
}

.p-btn:hover{
    background:#1b9b55;
    border:none;
    /* /* border: 2px solid #bebebe;  */
    /* color: #000000;
} 

.p-btn:hover a{
    background:#1b9b55;
    border:none;
    /* /* border: 2px solid #bebebe;  */
    /* color: #000000;
} */
/* .content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
} */

 
